@import url("https://fonts.googleapis.com/css?family=Roboto|Inconsolata");

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

.remark-code, .remark-inline-code {
  font-family: "Inconsolata", monospace;
}

.small .remark-code {
  font-size: 60% !important;
}

.tiny .remark-code {
  font-size: 50% !important;
}