zp.caption {
  /* color: #777; */
  margin-top: 10px;
}
p code {
  white-space: inherit;
  background-color: #FFFFF8 !important;
  background-image: none !important;
}
pre {
  word-break: normal;
  word-wrap: normal;
  background-color: #FFFFF8 !important;
  background-image: none !important;
}
pre code {
  white-space: inherit;
  background-color: #FFFFF8 !important;
  background-image: none !important;
}
.nav-link.active {
  background-color: #FFFFF8 !important;
}

.figure {
    border-top: 0px solid #EBE3E1;
    border-bottom: 0px solid #EBE3E1;
    border-right: 0px solid #EBE3E1;
    border-left: 0px solid #EBE3E1;
}