zp.caption {
  /* color: #777; */
  margin-top: 10px;
}
p code {
  white-space: inherit;
  background-color: #F8F5F4 !important;
}
pre {
  word-break: normal;
  word-wrap: normal;
  background-color: #F8F5F4 !important;
}
pre code {
  white-space: inherit;
  background-color: #F8F5F4 !important;
}
.nav-link.active {
  background-color: #F8F5F4 !important;
}